version: "3"
services:
  activemq:
    image: rmohr/activemq:5.15.9-alpine
    ports:
      - 8161:8161
      - 5672:5672
    volumes:
      - "activemq-data:/opt/activemq/data"
      - "./activemqConfig:/opt/activemq/conf"

  server:
    build: .
    env_file:
      - ".env"
    ports:
      - "3000:3000"
    depends_on:
      - activemq
    command: "yarn run start"

  smsworker:
    build: .
    env_file:
      - ".env"
    depends_on:
      - activemq
    command: "yarn run sms"

volumes:
  activemq-data:
